[submodule "lib/test/third_party/cglm"]
	path = lib/test/third_party/cglm
	url = https://github.com/recp/cglm.git
[submodule "lib/test/third_party/gtest"]
	path = lib/test/third_party/gtest
	url = https://github.com/google/googletest.git
